<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Ingredient Images</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Upload Ingredient Images</h1>
        <form id="uploadForm" enctype="multipart/form-data" action="/detect_ingredients" method="post">
            <div class="form-group">
                <input type="file" name="image" id="fileInput" accept=".png, .jpg, .jpeg, .heif, .heic, .hevc">
            </div>

            <div class="form-group" style="width: 50%;">
                <!-- Dropdown for selecting model -->
                <select name="model" id="modelSelect" class="form-control">
                    <option value="yolov5">YOLOv5</option>
                    <option value="resnet50">ResNet50</option>
                    <option value="mobilenetv2">MobileNetv2</option>
                </select>
            </div>
            
            <div class="form-group"></div>
                <button type="submit" class="btn btn-primary" id="detectButton" disabled>Detect Ingredients</button>
            </div>
        </form>

        <div id="loading" style="display: none;">Loading...</div>

        <div id="results"></div>

        <script>
            document.getElementById('fileInput').addEventListener('change', function() {
                var button = document.getElementById('detectButton');
                button.disabled = false;
            });
        </script>
    </div>
</body>
</html>
